/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
  font-size: 16px;
}

.font-lora {
  font-family: "Lora", serif;
}
* {
  color : #FFF;
}
blockquote,
cite {
  color: #fff;
}
a {
  color: #fde2cd;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
a:hover {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.pale-teal {
  color: #92b4ac;
}

p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 900;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  color: #fff;
}

h1 {
  font-size: 49px;
  display: block;
  font-weight: bold;
  line-height: normal;
}
h1 span {
  display: block;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 3px;
}
h2 {
  font-size: 49px;
  display: block;
  font-weight: bold;
  line-height: normal;
}
.name-branding {
  font-weight: bold;
  letter-spacing: 9px;
  font-size: 28px;
  z-index: 20;
}

.nom-site {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
}

footer nav, footer .infos{
  border-top: 2px solid #fff;
}
footer strong {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
}
.nom-site-footer {
  letter-spacing: 4px;
  font-size: 10px;
}
.rs-footer {
  justify-content: space-between;
}

.rs-footer a {
  padding: 1rem 0;
  margin-right: 1rem;
  display: inline-block;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
}

.rs-footer a::after {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  content: " ";
  display: block;
  height: 2px;
  background: #9db5c3;
  margin-top: 0.5rem;
  width: 100%;
}

.rs-footer a:hover::after {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 0;
}

.mot {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.1);
}

.bouton {
  font-size: 14px;
  padding: 1rem;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.bouton::after {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  content: " ";
  display: block;
  height: 2px;
  width: calc(100% + 24px);
  background: #fde2cd;
  margin-top: 0.5rem;
  margin-left: -24px;
}
.bouton::before {
  content: " ";
  background: url("../images/pointe-lien.svg") left center no-repeat;
  display: block;
  height: 24px;
  width: 30px;
  position: absolute;
  margin-left: -30px;
}

.bouton:hover::after {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 0;
}

.bouton.vert::before {
  background: url("../images/pointe-lien-vert.svg") left center no-repeat;
}

.bouton.vert::after {
  background: #92b4ac;
}

header nav {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  opacity: 0;
  z-index: -1;
  margin-top: -50px;
}

header nav.actif {
  background: rgba(0, 0, 0, 1);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  margin-top: 0;
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}

.burger {
  z-index: 11;
  font-size: 10px !important;
}
.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  height: 0.2em !important;
}

.burger::before {
  top: 4px;
  content: "Menu";
  text-transform: uppercase;
  position: absolute;
  left: -60px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.burger.burger-slip.false .burger-lines:before {
  left: 0 !important;
}

header nav a,
header nav.actif a {
  text-align: center;
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  max-width: 450px;
  border: 2px solid #fff;
}
header nav a:hover {
  background: #fff;
  color: #000;
}

.cercle {
  height: 480px;
  position: relative;
}
.cercle .central {
  position: relative;
  flex-direction: column;
}

.contenu-cercle {
  z-index: 2;
  margin: auto;
  text-align: center;
  width: 70%;
}
.cercle h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: auto;
  font-weight: bold;
  letter-spacing: 3px;
}
.cercle p {
  font-size: 13px;
  margin: auto;
}

.cercle-bg {
  transform: scale(1.1);
  position: absolute;
  top: -14%;
  z-index: 0;
  left: 0;
  right: 0;
}
.cercle-bg img {
}

.besoin {
  color: #fff;
  padding: 1rem;
  margin: auto;
}

.besoin span {
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: bold;
}

.besoin-1 {
  margin-top: -2rem;
  margin-right: -5rem;
}

.besoin-2 {
  font-family: "Lora", serif;
}
.besoin-3 {
  margin-bottom: -2rem;
  margin-right: -3rem;
}

.besoin-4 {
  margin-left: -3rem;
  margin-top: -2rem;
}

.besoin-6 {
  margin-left: -3rem;
  margin-bottom: -2rem;
}

.gros-blanc {
  font-family: "Lora", serif;
  color: #f7f7f7;
  font-size: 110px;
  height: 185px;
  text-shadow: 19px 17px 9px rgba(0, 0, 0, 0.5);
  font-family: "Lora", serif;
  font-size: 113px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.gros-bleu {
  text-transform: uppercase;
  color: #9db5c3;
  height: 133px;
  text-shadow: 0 13px 13px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 107px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 8.11px;
  text-align: center;
  margin-top: -115px;
  z-index: 0;
}

/* TIMELINE css */

.timeline {
  position: relative;
  margin: 0;
  font-family: "Droid Sans", sans-serif;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1px;
  background: rgba(255,255,255,0.2);
}
.timeline .entries {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}
.timeline .entries .entry {
  width: calc(60% - 90px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
.timeline .entries .entry:not(:first-child) {
  margin-top: -38px;
}
.timeline .entries .entry .title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;
  position: relative;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
}
.timeline .entries .entry .title:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 6px solid #000;
  background-color: #9db5c3;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -46px;
  z-index: 1000;
}
.timeline .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);
          transform: translate(8px, -50%);
}
.timeline .entries .entry .body {
  color: #aaa;
}
.timeline .entries .entry .body p {
  font-size: 0.8rem;
  line-height: 1.4em;
}
.timeline .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.timeline .entries .entry:nth-child(2n) .title:before {
  left: -36px;
}
.timeline .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}

/* Fin TIMELINE css */

h3.bleu {
  font-family: "Poppins", sans-serif;
  color: #526d72;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 6px;
  padding: 3rem 2rem;
}

.membre img, .bordure img {
  border: 1px solid #78969c;
}

.membre .nom, .citation .nom {
  text-transform: uppercase;
  margin: 0.5rem 0 0.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.membre .fonction {
  font-size: 0.9rem;
}

.gros-claim h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
  line-height: 1.8;
  color: #9db5c3;
  letter-spacing: 2px;
}
.gros-claim h3 span {
  color: #fde2cd;
}

.verte {
  color: #92b4ac;
}
h3.verte {
  font-family: "Poppins", sans-serif;
  color: #92b4ac;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 6px;
  padding: 3rem 2rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  section h1 span {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .name-branding {
    font-size: 22px;
  }
  .burger::before {
    display: none;
  }
  header nav a,
  header nav.actif a {
    max-width: 300px;
    margin: 0.5rem auto;
  }
  .mb-20 {
    margin-bottom: 3rem !important;
  }
  .mot {
    font-size: 55px;
  }
  .gros-blanc {
    font-size: 70px;
    height: 125px;
  }
  .gros-bleu {
    font-size: 60px;
    height: 80px;
    margin-top: -80px;
  }

  .cercle {
    height: inherit;
  }
  .contenu-cercle {
    width: auto;
    margin-top: 2rem;
  }
  .cercle-bg {
    top: 0;
  }

  .besoin-1 {
    margin-right: 0;
  }
  .besoin-3 {
    margin-right: 0;
  }
  .besoin-4 {
    margin-left: 0;
  }
  .besoin-6 {
    margin-left:0;
  }

}
